.App {
  /* text-align: center; */
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
.app-header{
  background-color: #708160;
  text-align: left;
}
.app-header h2{
  margin: 0;
  padding: 15px;
}
h4{
  margin: auto;
}
.jumbotron{
  padding: 20px;
}